.rpncalc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stack {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.item {
    min-width: 10em;
    min-height: 10em;
    border: 1px solid black;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-slider {
    border: 1px solid lightgray;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.float-slider-label {
    display: flex;
    align-items: center;
}

.partial {
    text-align: center;
    padding: 1em;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.partial-stack {
    font-size: 0.8em;
    padding: 1em;
}

.formatted-rational {
    width: 33%;
}

hr {
    width: 100%;
}

.exprinput {
    margin-top: 1vh;
    width: 100%;
    font-size: 1.2em;
}

.config-panel {
    background: lightgray;
    padding: 1em;
    margin-top: 1em;
}

.docs {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    flex-wrap: wrap;
}

.op-docs {
    background: #8cb7c6;
    color: black;
    display: flex;
    align-items: center;
    margin: 1em;
    max-width: 40vw;
}

.op-desc {
    padding: 1em;
}

.op-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}
